<main>

  <!-- Page Content -->
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">

    <div class="container-fluid">
      <a class="navbar-brand fs-1 fw-bolder" href="#"><i class="bi bi-terminal"></i> APcode</a>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSidebar"
        aria-expanded="true" aria-controls="collapseSidebar">
        <i class="bi bi-person-fill"></i>
      </button>
      &nbsp;&nbsp;
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToolbar"
        aria-controls="navbarToolbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToolbar">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-center" aria-current="page" href="#"><i class="bi bi-house fs-3"></i><br> Empresas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-center" aria-current="page" href="#"><i class="bi bi-pencil fs-3"></i><br> Unidades Administrativas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="d-flex">
    <!-- Sidebar -->
    <div class="collapse show collapse-horizontal" id="collapseSidebar">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-primary" style="width: 280px; min-height: 100vh;">
        <a href="#" class="d-flex align-items-center justify-content-center p-3 text-decoration-none">
          <img src="https://github.com/mdo.png" alt="mdo" width="128" height="128" class="rounded-circle">
        </a>

        <ul class="list-unstyled ps-0">
          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Home
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="text-bg-primary text-decoration-none rounded">Overview</a></li>
                <li><a href="#" class="text-bg-primary d-inline-flex text-decoration-none rounded">Updates</a></li>
                <li><a href="#" class="text-bg-primary d-inline-flex text-decoration-none rounded">Reports</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              <i class="bi bi-speedometer"></i>&nbsp;Dashboard
            </button>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="text-bg-primary d-inline-flex text-decoration-none rounded">Overview</a></li>
                <li><a href="#" class="text-bg-primary d-inline-flex text-decoration-none rounded">Weekly</a></li>
                <li><a href="#" class="text-bg-primary d-inline-flex text-decoration-none rounded">Monthly</a></li>
                <li><a href="#" class="text-bg-primary d-inline-flex text-decoration-none rounded">Annually</a></li>
              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center justify-content-center rounded border-0 collapsed"
              data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              Account
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="text-bg-primary d-inline-flex text-decoration-none rounded">New...</a></li>
                <li><a href="#" class="text-bg-primary d-inline-flex text-decoration-none rounded">Profile</a></li>
                <li><a href="#" class="text-bg-primary d-inline-flex text-decoration-none rounded">Settings</a></li>
                <li><a href="#" class="text-bg-primary d-inline-flex text-decoration-none rounded">Sign out</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <!-- <div class="dropdown border-top">
          <a href="#" class="d-flex align-items-center justify-content-center p-3 text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="128" height="128" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div> -->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <div class="flex-grow-1" style="margin-left: 30px;">
      <h1 class="mt-4">Angular 13 Bootstrap 5 Simple Sidebar Template</h1>
      <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on
        larger screens. When toggled using the button below, the menu will change.</p>
      <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional,
        and just for demonstration.</p>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</main>
<!-- /#wrapper -->